* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container {
    width: 1370px;
    margin: 0px auto;
}
img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}
.clearfix::after {
    content: "";
    clear: both;
    display: block;
}
.header {
    background: rgb(52, 152, 219);
}
.menuSection {
    padding: 5px 0px;
}
.menuLogo {
    width: 30%;
    float: left;
}
.menuLogo img {
    width: 160px;
    height: auto;
}
.menuber {
    float: right;
    width: 70%;
}
.menuber ul {
    text-align: right;
}
.menuber ul li {
    display: inline-block;
    margin-left: -4px;
    border-right: 1px solid rgba(221, 221, 221, 0.867);
}
.menuber ul li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 0px 20px;
    text-transform: uppercase;
    line-height: 3;
}
.menuber ul li:last-child {
    border-right: none;
}
.menuber ul li a:hover {
    background: rgb(41, 128, 185);
}
.sliderSection {
    background-image: url("./image-slider-with-thumbnail1.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 200px;
}
.sliderText {
    text-align: center;
    text-transform: capitalize;
}
.sliderText h2 {
    background: rgb(153, 153, 153);
    display: inline-block;
    padding: 10px 15px;
    font-size: 30px;
    color: white;
    border-radius: 5px;
}
.sliderText h1 {
    background: rgb(126, 187, 228);
    color: white;
    width: 550px;
    margin: 15px auto auto;
    font-size: 31px;
    padding: 15px;
    border-radius: 5px;
}
.aboutSection{
    background: #dddd;
    padding: 40px 0;
}
.about {
    text-align: center;
    padding: 50px;
}
.about h2 {
}
.about h1 {
    text-transform: capitalize;
    font-size: 40px;
    margin-bottom: 15px;
}
.about p {
    width: 1000px;
    margin: auto;
    text-align: justify;
}
.serviceSection{
    background: rgba(250, 250, 250, 0.8);
    padding: 40px 0;
}
.service {
    text-align: center;
    padding: 30px 0;
}
.service1 {
    float: left;
    width: 31.3%;
    border: 1px solid rgba(221, 221, 221, 0.867);
    margin-left: 1%;
    margin-right: 1%;
    padding: 40px;
    background: rgba(250, 250, 250, 0.98);
}
.service1 i {
    background: rgb(52, 152, 219);
    width: 60px;
    height: 60px;
    color: white;
    font-size: 40px;
    line-height: 60px;
    border-radius: 21px 0px;
    margin-bottom: 10px;
}
.service1 h2 {
    font-size: 30px;
    padding: 10px;
}
.service1 p {
    font-size: 20px;
}
.blogSection {
    float: left;
    width: 70%;
    padding: 20px;
}
.imageSection {
    margin-bottom: 20px;
}
.imageSection img {
    float: left;
    width: 200px;
    height: auto;
    margin-right: 10px;
}
.imageSection p {
    text-align: justify;
}
.noticbord {
    float: right;
    width: 30%;
    text-align: center;
    padding: 10px;
}
.noticbord h2 {
    font-size: 40px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(221, 221, 221, 0.867);
}
.noticbord ul li {
    list-style: none;
    font-size: 25px;
    padding: 16px;
    border: 1px solid rgba(221, 221, 221, 0.867);
    background: rgb(250, 250, 250);
    margin-top: 5px;
}
/* footer section */
.footerSection{
    background: #2c3e50;
    padding: 15px 0;
}
.text{
    text-transform: capitalize;
    float: left;
    width: 70%;
    color: white;
    font-size: 20px;
}
.icon{
    float: right;
    width: 30%;
    color: white;
    text-align: right;
}
.icon i {
    padding: 0 10px;
    font-size: 20px;
}